// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import the default variables
@import "~v-calendar-scheduler/scss/variables";

// Custom variables.
$v-cal-days-head-bg: #fecc56 !important;
$v-cal-days-head-color: white !important; 
$v-cal-button-border-radius: 15px !important;

// Import styles.
@import "~v-calendar-scheduler/scss/main";

// Custom styles.
.v-cal-header {
    .v-cal-header__title {
        text-transform: capitalize;
    }
}  

// Custom actions
.v-cal-header__actions {
  
    .v-cal-button {
        background-color: #115089;
        color: white;
    }

    .v-cal-button.v-cal-button--is-active {
        background-color: white;
        color: #115089;
    }
}

.v-cal-day__number{
    color: #115089;
    font-size: 15px !important;
}